<%- include('header', {chainInfo: chainInfo, title: `${chain.chainName} Chain`}); %>
<%- include('chainheader', { chain: chain, title: `Daily Log` }); %>
<%- include('generalalert', { chain: chain }); %>
<table id="tablechainlog" class="display" style='width: 100%'>
    <thead>
        <tr>
          <th>Date</th>
          <th>Start Block</th>
          <th>End Block</th>
          <th># Active Accounts</th>
          <th># New Accounts</th>
          <th># Txs</th>
          <th># Txs (1559)</th>
          <th># Txs (Legacy)</th>
          <th>Fees</th>
          <th>Gas Used</th>
          <th>Avg Gas Price</th>
          <th>Max Fee Per Gas</th>
          <th>Max Priority Fee Per Gas</th>
        </tr>
    </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var chainID = '<%- chainID; %>';
var id = '<%- id; %>';
$(document).ready(function() {
    showchainlog(id);
    setupapidocs("chain", "chainlog", `${id}`);
});
</script>
<script src="/chainui.js"></script>
